<div *ngFor="let todo of todosList; let i = index">
  <mat-card *ngIf="checkDataToShow(todo.isChecked)" class="todo-list">
    <app-todo-item [todo]="todo"></app-todo-item>
    <i class="material-icons" (click)="removeTodo(i)">delete</i>
  </mat-card>
</div>

<mat-card>
  {{getActiveCount()}} item{{getActiveCount() !== 1? 's': ''}}
  <a mat-button (click)="dataToShow = 'all'">All</a>
  <a mat-button (click)="dataToShow = 'active'">Active</a>
  <a mat-button (click)="dataToShow = 'completed'">Completed</a>
  <a mat-button *ngIf="isCompletedExist()" (click)="removeTodos()">Clear completed</a>
</mat-card>